﻿@model IEnumerable<test1.Models.Cargo>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.locationID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cargoDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cargoType)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.locationID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cargoDescription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cargoType)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.cargoID }) |
            @Html.ActionLink("Details", "Details", new { id=item.cargoID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.cargoID })
        </td>
    </tr>
}

</table>
