﻿<!--an at goes here{
    ViewBag.Title = "Ab1out";
}-->

<!--<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2> mesage is located in HomeController
</hgroup>-->

<article>
<h1>navigation guide</h1>
<p>Cargo, Trucks, Drivers and Locations display tables from the database and allow you to edit the entries</p>
<p>The Hexagon link will take you to my pulsating hexagon page </p>
</article>

