﻿<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <title></title>
</head>
<body onload="getHexGridWHSVGIN(100.0,86.60254037844388)">
<div id="svgContainer2" ><p>click on the white area</p></div>
</body>
</html>
